
body {
    font-family: 'Comfortaa', cursive !important;
    height: 300vh;
    background-color: #ECF2BD!important;
    overflow-x:hidden;
}
div.caption {
    text-align: center;
    margin: auto 25px;
    font-size: 3vmax;
    font-weight: 600;
    color: black;
    margin-top: 3vmax;
}
div.caption span{
    border:3px solid #CDD973;
    background-color: #e0e6b1;
    padding:3.5vmin 25vw;
}
div.rounded{
    border-radius:.5rem !important;
}
nav {
    background-color: #CDD973;
}