div.columns {
    width:  90%;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;

    justify-content:center;
}
div.image {
    margin: 4vmin !important;
    max-width: 50vw;
    max-height: 70vh;
    transition:1s;
    box-shadow: 0px 5px 12px 3px rgba(34, 60, 80, 0.2);
    background-color: #e5e5e554;
}
div.image:hover{
    background-color: white;
    box-shadow: 0px 5px 12px 7px rgba(34, 60, 80, 0.2);
}

div.columns div{
    display:flex;
    margin:auto;
}

@media screen and (max-width: 900px) 
{
    div.columns{
        column-count: 1;
    }
    div.image {
        max-width:80vw!important;
    }
}